@model Product
<ul class="TableContent">
    <li><span>Brand:</span><span>@Model.Brand.Name</span></li>
    <li><span>Color:</span><span>@Model.Color.Name</span></li>
    <li><span>Type:</span><span>@Model.Type.Name</span></li>
    <li><span>Battery capacity:</span><span>@Model.Notebook.BatteryCapacity</span></li>
    <li><span>Camera:</span><span>@Model.Notebook.Camera</span></li>
    <li><span>Hdd size:</span><span>@Model.Notebook.HDDSize</span></li>
    <li><span>SSD size:</span><span>@Model.Notebook.SSDSize</span></li>
    <li><span>Ramcount:</span><span>@Model.Notebook.RAMCount</span></li>
    <li><span>OS:</span><span>@Model.Notebook.OS.Name</span></li>
    <li><span>optional:</span><span>@Model.Notebook.Optional</span></li>
    <li><span>Outputs:</span><span>@Model.Notebook.Outputs</span></li>
    <li><span>Processor:</span><span>@Model.Notebook.Processor.Name</span></li>
    <li><span>Screen resolution:</span><span>@Model.Notebook.ScreenResolution</span></li>
    <li><span>Screen size:</span><span>@Model.Notebook.ScreenSize</span></li>
    <li><span>Screen type:</span><span>@Model.Notebook.ScreenType.Name</span></li>
    <li><span>Videocard:</span><span>@Model.Notebook.Videocard.Name</span></li>
    <li><span>Weight:</span><span>@Model.Notebook.Weight</span></li>
    <li><span>Wireless Communication:</span><span>@Model.Notebook.WirelessCommunication</span></li>
</ul>