@model Product
<ul class="TableContent">
    <li><span>Brand:</span><span>@Model.Brand.Name</span></li>
    <li><span>Color:</span><span>@Model.Color.Name</span></li>
    <li><span>Type:</span><span>@Model.Type.Name</span></li>
    <li><span>Camera:</span><span>@Model.Smartphone.Camera</span></li>
    <li><span>Chargingtype:</span><span>@Model.Smartphone.ChargingType.Name</span></li>
    <li><span>MemoryCount:</span><span>@Model.Smartphone.MemoryCount</span></li>
    <li><span>Ramcount:</span><span>@Model.Smartphone.RAMCount</span></li>
    <li><span>Simcount:</span><span>@Model.Smartphone.SimCount</span></li>
    <li><span>communication:</span><span>@Model.Smartphone.Communication</span></li>
    <li><span>NFC:</span><span>@Model.Smartphone.NFC</span></li>
    <li><span>Optional:</span><span>@Model.Smartphone.Optional</span></li>
    <li><span>MemoryCount:</span><span>@Model.Smartphone.OS.Name</span></li>
    <li><span>Processor:</span><span>@Model.Smartphone.Processor.Name</span></li>
    <li><span>Screenresolution:</span><span>@Model.Smartphone.ScreenResolution</span></li>
    <li><span>Screensize:</span><span>@Model.Smartphone.ScreenSize</span></li>
    <li><span>Screentype:</span><span>@Model.Smartphone.ScreenType.Name</span></li>
    <li><span>PhoneSize:</span><span>@Model.Smartphone.PhoneSize</span></li>
    <li><span>Weight:</span><span>@Model.Smartphone.Weight</span></li>
    <li><span>Batterycapacity:</span><span>@Model.Smartphone.BatteryCapacity</span></li>
</ul>