@model Product
<ul class="TableContent">
    <li><span>Brand:</span><span>@Model.Brand.Name</span></li>
    <li><span>Color:</span><span>@Model.Color.Name</span></li>
    <li><span>Type:</span><span>@Model.Type.Name</span></li>
    <li><span>Battery:</span><span>@Model.WirelessHeadphones.Battery</span></li>
    <li><span>Bluetoothversion:</span><span>@Model.WirelessHeadphones.BluetoothVersion</span></li>
    <li><span>Case battery:</span><span>@Model.WirelessHeadphones.CaseBattery</span></li>
    <li><span>Battery:</span><span>@Model.WirelessHeadphones.Battery</span></li>
    <li><span>ChargingType:</span><span>@Model.WirelessHeadphones.ChargingType.Name</span></li>
    <li><span>Radius:</span><span>@Model.WirelessHeadphones.Radius</span></li>
</ul>