@model IEnumerable<Diplom.Models.Model.Client>

@{
    Layout = "_Sidebar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>List</title>
</head>
<body>
    <p>
        <a class="btn btn-primary" asp-action="Edit">Create New</a>
    </p>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Post)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="sidebar-a" name="id" asp-route-id="@item.Id" asp-action="Edit">
                                @Html.DisplayFor(modelItem => item.Id)
                            </a>
                            (
                            <a class="form-label" name="id" value="@item.Id" asp-action="Delete">Delete</a>
                            )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Post.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Department.Adress)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    @if (ViewBag.MaxPage != 1)
    {
        <div class="row my-4">
            <div class="text-center">
                @for (int i = 1; i < ViewBag.MaxPage + 1; i++)
                {
                    <a class="btn btn-outline-primary" asp-action="List" asp-route-Page="@i">@i</a>
                }
            </div>
        </div>
    }
</body>
</html>
