@model Product
<ul class="TableContent">
    <li><span>Brand:</span><span>@Model.Brand.Name</span></li>
    <li><span>Color:</span><span>@Model.Color.Name</span></li>
    <li><span>Type:</span><span>@Model.Type.Name</span></li>
    <li><span>Connection type:</span><span>@Model.WireHeadphones.ConnectionType.Name</span></li>
    <li><span>Wire lenght:</span><span>@Model.WireHeadphones.WireLenght</span></li>
</ul>