@model Diplom.Models.ViewModel.AccessoryViewModel;
@{
    Layout = "_Sidebar";
}
<!DOCTYPE html>
    <h4>Accessory</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Save" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                    <input name="Id" value="@Model.EditItem.Id" type="hidden" asp-for="EditItem.Id" />
                    <input name="ProductID" value="@Model.EditItem.ProductID" type="hidden" asp-for="EditItem.ProductID" />
                    <div class="form-group">
                        <label asp-for="EditItem.product.Name" class="control-label">Name</label>
                        <input asp-for="EditItem.product.Name" value="@Model.EditItem.product.Name" name="product.Name"  class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.Description" class="control-label">Description</label>
                        <input value="@Model.EditItem.product.Description" name="product.Description" asp-for="EditItem.product.Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.BrandId" class="control-label">Brand</label>
                        <select name="product.BrandId" asp-for="EditItem.product.BrandId" class="form-select">
                            @foreach (KeyValuePair<int, string> item in Model.Brands)
                            {
                                if (Model.EditItem.product.BrandId == item.Key)
                                {
                                    <option selected value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.TypeId" class="control-label">Type</label>
                        <select class="form-select" name="product.TypeId" asp-for="EditItem.product.TypeId">
                            @foreach (KeyValuePair<int, string> item in Model.types)
                            {
                                if (Model.EditItem.product.TypeId == item.Key)
                                {
                                    <option selected value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.Color" class="control-label">Color</label>
                        <select name="product.ColorId" class="form-select" asp-for="EditItem.product.Color">
                            @foreach (KeyValuePair<int, string> item in Model.Colors)
                            {
                                if (Model.EditItem.product.ColorId == item.Key)
                                {
                                    <option selected value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.DepartmentId" class="control-label">Department</label>
                        <select name="product.DepartmentId" class="form-select" asp-for="EditItem.product.DepartmentId">
                            @foreach (KeyValuePair<int, string> item in Model.department)
                            {
                                if (Model.EditItem.product.DepartmentId == item.Key)
                                {
                                    <option selected value="@item.Key">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.Photo" class="control-label">Photo</label>
                        <input hidden name="product.Photo" asp-for="EditItem.product.Photo" class="form-control" />
                        <input type="file" name="UploadFile" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.Price" class="control-label">Price</label>
                        <input value="@Model.EditItem.product.Price" name="product.Price" asp-for="EditItem.product.Price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.Discount" class="control-label">Discount</label>
                        <input value="@Model.EditItem.product.Discount" name="product.Discount" asp-for="EditItem.product.Discount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EditItem.product.DiscountDate" class="control-label">Discount date</label>
                        <input value="@Model.EditItem.product.DiscountDate" name="product.DiscountDate" asp-for="EditItem.product.DiscountDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-danger" asp-action="List">Back to List</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }